<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <mat-toolbar color="primary" class = "header">
    <a routerLink="/"><app-logo></app-logo></a>
    <div class="fill-space"></div>
    <app-search-bar></app-search-bar>
    <button mat-icon-button routerLink="/myplaylist">
      <mat-icon>playlist_play</mat-icon>
    </button>
  </mat-toolbar>
  <main>
<!--    <app-track-card [parentData]="message"></app-track-card>-->
    <router-outlet></router-outlet>
  </main>
  <footer>
    <mat-toolbar color="accent">
      <app-footer></app-footer>
    </mat-toolbar>
  </footer>

</div>
